* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background-color: darkgreen;
}

header .heading {
color: #fff;
text-align: center;
padding: 10px 0 0 0;
}

a {
  text-decoration: none;
  color: #38b48b;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px 0;
}

.nav-list-item {
  color: #fff;
  padding: 0 20px;
}

main {
  background-color: #ecfcdf;
  padding: 10px 40px 40px 40px;
}

.main-heading {
  text-align: center;
  padding-bottom: 10px;
}

/*画像領域*/
.main-introduction-box {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.self-introduction-image {
background-color: #ecfcdf;
width: 30%;
border-radius: 10px;
margin-right: 10px;

}

/*自己紹介領域*/

.self-introduction-box {
  background-color: #fff;
  border-radius: 10px;
  width: 70%;
  line-height: 40px;
  padding: 0px 10px;
}

.self-introduction-heading {
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  padding: 0 10px;
}

.self-introduction-heading .label {
  width: 100px;
  text-align: left;
}

.self-introduction-text {
  flex: 1;
  text-align: left;
  margin: 0;
  padding: 0;
}

.social {
text-align: center;
}

i {
  margin: 0 20px 20px 0;
}

footer {
  width: 100%;
  height: 100px;
  background-color: darkgreen;
  line-height: 120px;
}

.footer-text {
  color: #fff;
  text-align: center;
}

@media screen and (max-width:768px) {
  .main-introduction-box {
    display: block;
  }

  .self-introduction-image {
    background-color: #ecfcdf;
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
    }

    .self-introduction-box {
      background-color: #fff;
      border-radius: 10px;
      width: 100%;
      line-height: 40px;
      padding: 0px 10px;
    }

    footer {
      position: fixed;
    }

  }